In [5]:
hungry = False

if hungry:
    print('FEED ME!')
else:
    print("I'm not hungry")

I'm not hungry

In [7]:
loc = 'Bank'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool")
elif loc == 'Store':
    print("Welcome to the store!")
else:
    print("I don't know much")

Money is cool

LOOPS

FOR

In [8]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [9]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [10]:
for jelly in mylist:
    print(jelly)

1
2
3
4
5
6
7
8
9
10

In [11]:
for num in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [13]:
for num in mylist:
    # Check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [15]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [17]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [19]:
for letter in 'ghufujkf':
    print(letter)

g
h
u
f
u
j
k
f

In [20]:
for _ in 'Hello World':
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [21]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [22]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [23]:
len(mylist)

4

In [25]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [26]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [27]:
d = {'k1':1,'k2':2,'k3':3}

for value in d.values():
    print(value)

1
2
3

WHILE

In [37]:
x = 0 

while x < 5:
    print(f'The current value of x is {x}')
    
    x += 1
else:
    print("X is not less than 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less than 5

In [3]:
x = [1,2,3]

for item in x:
    # comment
    pass


print('end of script')

end of script

In [4]:
mystring = 'Sammy'

In [8]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [10]:
for letter in mystring:
    if letter == 'y':
        break
    print(letter)

S
a
m
m

In [12]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [14]:
x = 0

while x < 5:
    
    if x == 2:
        break
    print(x)
    x += 1

0
1

In [15]:
mylist = [1,2,3]

In [17]:
for num in range(1,10,2):
    print(num)

1
3
5
7
9

In [18]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [20]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [22]:
word  = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [24]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d','e']

In [26]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

In [30]:
for a,b in zip(mylist1,mylist2):
    print(a)
    print(b)
    print('\n')

1
a


2
b


3
c


4
d


5
e

In [31]:
'x' in [1,2,3]

False

In [33]:
'x' in ['x','y','z']

True

In [34]:
'a' in 'a world'

True

In [35]:
'mykey' in {'mykey':345}

True

In [37]:
d = {'mykey':345}

345 in d.values()

True

In [38]:
d = {'mykey':345}

345 in d.keys()

False

min and max for minimum and maximum

In [39]:
from random import shuffle

In [40]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [41]:
shuffle(mylist)

In [42]:
mylist

[1, 5, 6, 7, 8, 9, 4, 2, 3, 10]

In [43]:
mylist

[1, 5, 6, 7, 8, 9, 4, 2, 3, 10]

In [44]:
from random import randint

In [45]:
randint

In [46]:
randint(0,100)

100

In [48]:
result = input('Enter a number: ')

Enter a number: 50

In [49]:
result

'50'

In [50]:
type(result)

str

In [51]:
float(result)

50.0

In [53]:
int(result)

50

In [54]:
mystring = 'hello'

In [55]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [56]:
mylist

['h', 'e', 'l', 'l', 'o']

In [58]:
mylist = [letter for letter in mystring]

In [59]:
mylist

['h', 'e', 'l', 'l', 'o']

In [60]:
mylist = [x for x in 'word']

In [61]:
mylist

['w', 'o', 'r', 'd']

In [64]:
mylist = [num for num in range(0,100)]

In [66]:
mylist

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [71]:
mlist = [num**2 for num in range(1,100)]

In [72]:
mlist

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

In [74]:
celcius = [0,10,20,34.5]

fahrenheit = [(  (9/5)*temp + 32) for temp in celcius]

In [75]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [77]:
mylist = [x*y for x in [2,4,6] for y in [10,100,1000]]

In [78]:
mylist

[20, 200, 2000, 40, 400, 4000, 60, 600, 6000]